.container
{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    
    
}
.main
{
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}